# Application Settings
APP_NAME=RAG FastAPI POC
APP_VERSION=0.1.0
DEBUG=false
HOST=0.0.0.0
PORT=8000

# Model Configuration
EMBEDDING_MODEL_NAME=Snowflake/snowflake-arctic-embed-xs
RETRIEVAL_MODEL_NAME=gemma2:2b
OLLAMA_BASE_URL=http://ollama:11434

# Vector Store Configuration
VECTOR_STORE_TYPE=qdrant   # ("qdrant" | "faiss")
TOP_K_RESULTS=5

# Faiss Settings
# FAISS_INDEX_PATH=data/embeddings/faiss_index

# Qdrant Settings
QDRANT_URL=http://qdrant:6333
BUILD_INDEX_QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=rag_documents
QDRANT_DIMENSION=384  # Arctic-xs dimension

# Document Processing
CHUNK_SIZE=512
CHUNK_OVERLAP=50
MAX_QUERY_WORDS=200

# Runtime Settings
LAZY_LOAD_MODELS=true
MODEL_CACHE_TIMEOUT=300
