services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
  
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  app:
    build: .
    container_name: fastapi-backend
    depends_on:
      - ollama
      - qdrant
    ports:
      - "8000:8000"
    environment:
      - VECTOR_STORE_TYPE=qdrant
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_COLLECTION_NAME=rag_documents
      - QDRANT_DIMENSION=384
      - OLLAMA_BASE_URL=http://ollama:11434
      - EMBEDDING_MODEL_NAME=Snowflake/snowflake-arctic-embed-xs
      - RETRIEVAL_MODEL_NAME=gemma2:2b
      - LAZY_LOAD_MODELS=true
    volumes:
      - ./data:/app/data
    restart: unless-stopped

volumes:
  ollama_data:
  qdrant_data:
